.posts-expand {
  .post-eof {
    display: block;
    // margin: $post-eof-margin-top auto $post-eof-margin-bottom;
    margin: 20px -40px;
    width: 700px;
    height: 21px;
    background: #f5f7f9;
    text-align: center;
  }
}

.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
